
.grilla_nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "titulonosotros titulonosotros"
    "img_nosotros2 texto_nosotros2"
    "img_nosotros1 texto_nosotros1"
    "img_nosotros3 texto_nosotros3"; 
    background-color:$colorBackground ;
}

.titulonosotros{
    grid-area: titulonosotros;
    
}
.texto_nosotros2{
    grid-area: texto_nosotros2;
    width: 100%;
    color:$colorFrases;
    font-size: 90%;
    font-family: $estilo;
    margin-right: 10%;
}

.img_nosotros2{
    grid-area: img_nosotros2;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    
}

.img_actividades{
  width: 80%;
  margin-top: 5%;
  margin-left: 7%;
}

.texto_actividades{
  margin-top: 30%;
  margin-right: 10%;
  animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.texto_nosotros1{
    grid-area: texto_nosotros1;
    text-align: center;
    width: 90%;
    color:$colorFrases;
    font-size: 110%;
    font-family: $estilo;
    margin-top: 10%;
    
}

.img_nosotros1{
    grid-area: img_nosotros1;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

.texto_nosotros3{
    grid-area: texto_nosotros1;
    text-align: center;
    width: 90%;
    color:$colorFrases;
    font-size: 110%;
    font-family: $estilo;
    margin-top: 20%;
}

.img_nosotros3{
    grid-area: img_nosotros1;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

.grillafotos{
    padding-left: 10%;
    background-color: $colorBackground;
    
}

/*anidaciones*/ 

header{
  
  h1{
    color:rgb(201, 138, 138);
    font-size: 80%;
    font-family: $estilo;
    font-size: 210%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
  
  h2{
    color:rgb(201, 138, 138);
    font-size: 80%;
    font-family: $estilo;
    font-size: 180%;
    text-align: center;
    
    
  }

  p{
    color:$colorFrases;
    font-family: $estilo;
    font-size: 130%;
    text-align: center;
  }

  
}

.frasepresentacion{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.bloque2{
    grid-area: bloque2;
 
}

.bloque3{
    grid-area: bloque3;

    &__fraseindex1{
            text-align: center;
            font-style: $estilo;
            color: $colorFrases;
            font-size: 110%;    
            
        }
    
   
}



.btn-primary{
    margin-top: 1%;
}

.formulario{
    margin-top: 10%;
}
.texto_nosotros1{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.texto_nosotros2{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.texto_nosotros3{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
.fraseindex1{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.descripcionyoga{
    text-align: center;
    font-style: $estilo;
    color: $colorFrases;
    font-size: 100%;
    margin-left: 20%;
    margin-right: 20%;
    
}

.descripcionyoga {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  

.piefotos{
    text-align: center;
    font-style: $estilo;
    color: $colorFrases;
}

#carouselExampleControls{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.titulogaleria{
    grid-area: texto_nosotros1;
    
}

.formulario{
    width: 50%;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 8%;
}

.titulocontacto{
    grid-area: texto_nosotros1;
    
}

.tablaHorarios{
    border: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 32%;
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
    
}


.filas_columnas{
    color:rgb(201, 138, 138);
    font-family: $estilo;
    font-size: 120%;
}

td{
    font-family: $estilo;
    color: $colorFrases;
}