@import "./variables";
@import "./header";
@import "./footer";
@import "./menunav";

*{
    padding: 0;
    margin: 0;
}



.body{
    background-color: $colorBackground;
    height: 100%;
    width: 100%;
}

.body1{
    
    background-color: $colorBackground;
    height: 100%;
    width: 100%;
}





.portada{
    width: 28%;
    margin-left: 35%;
}







@media screen and (max-width: 768px){
    .grilla_nosotros{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "titulonosotros"
        "img_nosotros2"
        "texto_nosotros2"
        "img_nosotros1"
        "texto_nosotros1"; 
        background-color:rgb(245, 245, 209) ;
    }

    .tablaHorarios{
        border: 20%;
        margin-bottom: 15%;
        margin-top: 5%;
        margin-left: 32%;
        text-align: center;
        border-spacing: 10px;
        border-collapse: separate;
        
    }

}